/*************
    THEMES
*************/
.lightBG {
    color: #000000;
    background-color: #ffffff;
}

.lightBG a {
    color: #000000;
}

.lightBG1 {
    background-color: #fefefe;
    color: #000000;
}

.lightBG2 {
    background-color: #e6e6e6;
    color: #000000;
}

.lightdarkBG {
    background-color: #a2a6a8;
}

.darkBG {
    color: #ffffff;
    background-color: #121212;
}

.darkBG a {
    color: #ffffff;
}

.blackBG {
    background-color: #000000;
    color: #ffffff;
}

.blackBG a {
    color: #ffffff
}

.cozyBG {
    background-color: #c5cdd1;
}

.deepBG {
    background-color: #0a0000;
}

.gradientBG {
    color: #ffffff;
    background-image: linear-gradient(#161a3d, #cfbac1);
}